@import mixins.sass
@import resume.sass

$header-k: 1
=header-font
  font: 500 15px/1.3 "rooney-web", Times, "Times New Roman", serif
=header-font
  font: 700 22px/1.3 "freight-text-pro", Times, "Times New Roman", serif
  letter-spacing: 0.5px
=body-font
  font: 300 19px/1.7 "rooney-web", Times, "Times New Roman", serif
  letter-spacing: 0.1px
// =body-font
//   font: 400 21px/1.7 "adobe-text-pro", Times, "Times New Roman", serif
//   letter-spacing: 0.1px
//   $header-k: 0.9
//   font-weight: 500
=monospace-font
  font: 400 15px/1.4 Consolas, "Liberation Mono", Courier, monospace
strong
  font-weight: 500


a
  color: $links
  &, &:visited
    text-decoration: none
  &:hover, &:active
    text-decoration: underline
    color: $links-hover

  -webkit-transition: color 0.17s ease-out
  -moz-transition: color 0.17s ease-out
  -o-transition: color 0.17s ease-out
  -ms-transition: color 0.17s ease-out
  transition: color 0.17s ease-out

body
  +body-font

html, body, div, ul, li, img
  padding: 0
  margin: 0
  border: 0

h1, h2, h3, h4, h5, h6
  +header-font

html, body
  color: $text-color
  -webkit-font-smoothing: subpixel-antialiased

code
  color: $text-color

body.black
  &, header .dmitry a:visited
    background: $text-color
    color: #eee

li
  list-style: square
  p
    margin: 0

h1, h2, h3, h4, h5, h6
  margin: 1.4em 0 0.4em
p, blockquote,hr,ul,ol,pre
  margin: 0 0 1.1em
li
  margin: 0 0 0.5em

h1
  font-size: 2.8em * $header-k
h2
  font-size: 2.4em * $header-k
h3
  font-size: 1.5em * $header-k
h4
  font-size: 1.25em * $header-k
h5
  font-size: 1.0em * $header-k
h6
  font-size: 0.8em * $header-k
  text-transform: uppercase


blockquote
  font-style: italic
  font-size: 1.1em
  p
    border-left: 5px solid $main-color
    width: auto
    margin-left: -20px
    padding-left: 15px



hr
  background: $main-color
  height: 5px
  border: none
  margin: 2em 0

img
  display: block
  margin: 0 auto
  max-width: 100%

/**
 * Source Code
 */
pre, code, tt
  +monospace-font

.highlight, code
  border: 1px solid #eee
  background: #fafafa

.highlight
  overflow: auto
  margin-bottom: 17px
  border-left: 0
  border-right: 0

h1, h2, h3, h4, h5, h6, p
  + .highlight
    margin-top: -10px

.highlight pre
  overflow: auto
  margin-bottom: 0


.highlight code
  padding: 0
  border: none
  box-shadow: none

pre
  padding: 8px 8px

code
  +border-radius(3px)
  padding: 2px 5px



/**
 * Other
 */
.article-body 
  >*:first-child
    margin-top: 0 !important
  >*:last-child
    margin-bottom: 0 !important


\::selection
  +selection

\::-moz-selection
  +selection



/**
 * Entypo Font
 */
@font-face
  font-family: 'entyporegular'
  src: url('./entypo/entypo-webfont.eot')
  src: url('./entypo/entypo-webfont.eot?#iefix') format('embedded-opentype'), url('./entypo/entypo-webfont.woff') format('woff'), url('./entypo/entypo-webfont.ttf') format('truetype'), url('./entypo/entypo-webfont.svg#entyporegular') format('svg')
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'entypo_socialregular'
  src: url('./entypo-social/entypo-social-webfont.eot')
  src: url('./entypo-social/entypo-social-webfont.eot?#iefix') format('embedded-opentype'), url('./entypo-social/entypo-social-webfont.woff') format('woff'), url('./entypo-social/entypo-social-webfont.ttf') format('truetype'), url('./entypo-social/entypo-social-webfont.svg#entypo_socialregular') format('svg')
  font-weight: normal
  font-style: normal



=entypo($size)
  font-family: 'entyporegular'
  font-size: $size

=entypo-social($size)
  font-family: 'entypo_socialregular'
  font-size: $size




/**
 * Layout
 */
h1, h2, h3, h4, h5, h6, p, ul, ol, hr, blockquote, .navigation,
.highlight pre
  width: 90%
  max-width: $max-width
  margin-left: auto
  margin-right: auto



/**
 * Usefull utility classes
 */
.clearfix,
.clear-fix
  clear: both

.gray-color
  color: $text-color-2

.align-center
  text-align: center

.text-overflow-ellipsis
  overflow: hidden
  overflow: -moz-hidden-unscrollable
  white-space: pre
  text-overflow: ellipsis

.df
  background-image: url(/assets/apple-touch-icon-72x72-precomposed.png) 
  background-size: 100%
  width: 36px  
  height: 36px
  margin: 40px auto




/**
 * Header
 */
.dmitry
  a
    &,&:hover,&:active,&:visited
      text-decoration: none
      color: $text-color
    &:hover
      color: $main-color

.border
  background: transparent
  height: 0
  border-bottom: 1px dashed black



/**
 * Index Page
 */
.about-index
  img
    width: 300px
    float: left

.articles
  display: block
  margin: 0 auto
  .article
    display: block
    margin: 0
    a
      display: block
      .title, .date-wrapper
        font-size: 1.5em
        display: inline-block
        vertical-align: top
        height: 100%
      .title
        width: 85%
        margin: 0 0 0.75em
      .date-wrapper
        width: 15%
        text-align: right
      .date
        font-size: (1 / 1.5) * 1em
      
      &
        color: $text-color
      &:visited
        color: $text-color-2
      &:hover,&:active
        color: $main-color
        .title
          text-decoration: underline
        .date
          text-decoration: none



/**
 * Next-post, previous-post links
 */
.navigation
  .next-post, .prev-post
    width: 50%
    a
      display: block
  .next-post
    text-align: right
    float: right
  .prev-post
    float: left



/**
 * Social Buttons on the About page
 */
.social-buttons
  margin: 0 auto
  text-align: center

  .social-button
    text-align: center
    +entypo-social(120px)
    margin: 0 5px
    $h: 70px
    width: $h
    height: $h
    line-height: $h
    display: inline-block
    cursor: pointer
    text-decoration: none
    &:nth-child(1)
      color: #00bbf2
      &:hover
        color: darken(#00bbf2, 20%)
    &:nth-child(2)
      color: #333333
      &:hover
        color: darken(#333333, 20%)
    &:nth-child(3)
      color: #dc4a36
      &:hover
        color: darken(#dc4a36, 20%)


/**
 * Home button
 */
.home
  position: fixed
  top: 8px
  left: 8px
  width: 44px
  height: 44px
  background-color: white
  background-image: url(/assets/home.png)

@media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5)
  .home
    background-image: url(/assets/home@2x.png)
    background-size: 100%



/**
 * Space between different parts of the page
 */
header
  margin-top: 40px
.dmitry
  margin: 0 auto 0.25em
.border
  margin-top: 40px
section
  margin-top: 40px * 2.5
.articles
  margin-top: 20px
.article-title
  margin: 40px auto 20px
.article-date
  margin-bottom: 40px
.article-body
  margin-bottom: 40px
.navigation
  margin-bottom: 40px
footer
  margin: (40px * 2) auto (40px * 1)



/**
 * Import everything else
 */
@import responsive.sass
@import syntax.scss
@import modal.sass

