@charset "UTF-8";
.resume {
  margin: 0;
  padding: 0 0 100px;
  line-height: 1.7;
  width: 700px;
  margin: 0 auto !important;
  padding-top: 50px;
  position: relative; }
  .resume h1 {
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
    margin: 0 0 25px;
    line-height: 1; }
  .resume h2 {
    font-size: 1em;
    font-weight: 300;
    text-align: center;
    margin: 0 0 50px;
    line-height: 1; }
  .resume .email {
    text-transform: uppercase; }
  .resume h3, .resume .item, .resume .top-right {
    padding: 0 3px; }
  .resume h3 {
    text-transform: uppercase;
    border-top: 1px solid #222222;
    font-size: 1.4em;
    margin: 1em 0 0.5em;
    padding-top: 2px;
    letter-spacing: 2px; }
  .resume h1, .resume h2, .resume h3, .resume h4, .resume h5, .resume h6, .resume p, .resume ul, .resume ol, .resume hr, .resume blockquote, .resume .navigation,
  .resume .highlight pre {
    width: auto; }
  .resume p {
    font-size: 1em; }
  .resume section {
    clear: both; }
  .resume .item .left {
    float: left;
    width: 150px; }
  .resume .item .right {
    margin-left: 180px;
    width: 514px; }
    .resume .item .right p {
      margin-bottom: 0.33em; }
      .resume .item .right p:last-child {
        margin-bottom: 1em; }
  .resume .item .tmp {
    text-align: justify;
    overflow-wrap: hyphenate;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -webkit-hyphenate-character: "\2010";
    -webkit-hyphenate-limit-after: 1;
    -webkit-hyphenate-limit-before: 3; }
  .resume .top-right {
    position: absolute;
    top: 0;
    right: 0; }
  .resume section {
    margin-top: 0; }

.underlined {
  text-decoration: underline;
  color: #222222; }
  .underlined:hover {
    color: #ff4466; }

@media print {
  @page {
    margin: 15mm 25mm 0 25mm; }

  .resume {
    padding-bottom: 0; }

  .resume h1 {
    margin-bottom: 0.5em; }
  .resume h2 {
    margin-bottom: 1em; }

  .resume .container {
    padding-top: 0;
    width: auto; }

  .top-right {
    display: none; }

  a, .underlined {
    color: #222222;
    text-decoration: none; }

  a:link:after, a:visited:after {
    content: " (" attr(href) ") ";
    text-decoration: none;
    color: #aa001f; }

  a.no-brackets:link:after, a.no-brackets:visited:after {
    content: " " attr(href) " "; } }
strong {
  font-weight: 500; }

strong {
  font-weight: 500; }

a {
  color: #ff4466;
  -webkit-transition: color 0.17s ease-out;
  -moz-transition: color 0.17s ease-out;
  -o-transition: color 0.17s ease-out;
  -ms-transition: color 0.17s ease-out;
  transition: color 0.17s ease-out; }
  a, a:visited {
    text-decoration: none; }
  a:hover, a:active {
    text-decoration: underline;
    color: #aa001f; }

body {
  font: 300 18px/1.8 "rooney-web", Times, "Times New Roman", serif; }

html, body, div, ul, li, img {
  padding: 0;
  margin: 0;
  border: 0; }

h1, h2, h3, h4, h5, h6 {
  font: 500 15px/1.3 "rooney-web", Times, "Times New Roman", serif; }

html, body {
  color: #222222;
  -webkit-font-smoothing: subpixel-antialiased; }

code {
  color: #222222; }

body.black, body.black header .dmitry a:visited {
  background: #222222;
  color: #eeeeee; }

li {
  list-style: square; }
  li p {
    margin: 0; }

h1, h2, h3, h4, h5, h6 {
  margin: 1.4em 0 0.4em; }

p, blockquote, hr, ul, ol, pre {
  margin: 0 0 1.1em; }

li {
  margin: 0 0 0.5em; }

h1 {
  font-size: 2.38em; }

h2 {
  font-size: 2.04em; }

h3 {
  font-size: 1.275em; }

h4 {
  font-size: 1.0625em; }

h5 {
  font-size: 0.85em; }

h6 {
  font-size: 0.68em;
  text-transform: uppercase; }

blockquote {
  font-style: italic;
  font-size: 1.1em; }
  blockquote p {
    border-left: 5px solid #ff4466;
    width: auto;
    margin-left: -20px;
    padding-left: 15px; }

hr {
  background: #ff4466;
  height: 5px;
  border: none;
  margin: 2em 0; }

img {
  display: block;
  margin: 0 auto;
  max-width: 100%; }

/*
 * Source Code
 */
pre, code, tt {
  font: 400 15px/1.4 Consolas, "Liberation Mono", Courier, monospace; }

.highlight, code {
  border: 1px solid #dddddd;
  background: #f4f4f4; }

.highlight {
  overflow: auto;
  margin-bottom: 17px;
  border-left: 0;
  border-right: 0; }

h1 + .highlight, h2 + .highlight, h3 + .highlight, h4 + .highlight, h5 + .highlight, h6 + .highlight, p + .highlight {
  margin-top: -10px; }

.highlight pre {
  overflow: auto;
  margin-bottom: 0; }

.highlight code {
  padding: 0;
  border: none;
  box-shadow: none; }

pre {
  padding: 8px 8px; }

code {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 2px 5px; }

/*
 * Other
 */
.article-body *:first-child {
  margin-top: 0 !important; }

.article-body *:last-child {
  margin-bottom: 0 !important; }

::selection {
  background: #111111;
  color: white; }

::-moz-selection {
  background: #111111;
  color: white; }

/*
 * Entypo Font
 */
@font-face {
  font-family: "entyporegular";
  src: url("./entypo/entypo-webfont.eot");
  src: url("./entypo/entypo-webfont.eot?#iefix") format("embedded-opentype"), url("./entypo/entypo-webfont.woff") format("woff"), url("./entypo/entypo-webfont.ttf") format("truetype"), url("./entypo/entypo-webfont.svg#entyporegular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "entypo_socialregular";
  src: url("./entypo-social/entypo-social-webfont.eot");
  src: url("./entypo-social/entypo-social-webfont.eot?#iefix") format("embedded-opentype"), url("./entypo-social/entypo-social-webfont.woff") format("woff"), url("./entypo-social/entypo-social-webfont.ttf") format("truetype"), url("./entypo-social/entypo-social-webfont.svg#entypo_socialregular") format("svg");
  font-weight: normal;
  font-style: normal; }

/*
 * Layout
 */
h1, h2, h3, h4, h5, h6, p, ul, ol, hr, blockquote, .navigation,
.highlight pre {
  width: 90%;
  max-width: 770px;
  margin-left: auto;
  margin-right: auto; }

/*
 * Usefull utility classes
 */
.clear-fix {
  clear: both; }

.gray-color {
  color: #777777; }

.align-center {
  text-align: center; }

.text-overflow-ellipsis {
  overflow: hidden;
  overflow: -moz-hidden-unscrollable;
  white-space: pre;
  text-overflow: ellipsis; }

.df {
  background-image: url(/assets/apple-touch-icon-72x72-precomposed.png);
  background-size: 100%;
  width: 36px;
  height: 36px;
  margin: 40px auto; }

/*
 * Header
 */
header .dmitry a, header .dmitry a:hover, header .dmitry a:active, header .dmitry a:visited {
  text-decoration: none;
  color: #222222; }
header .dmitry a:hover {
  color: #ff4466; }
header .border {
  background: transparent;
  height: 0;
  border-bottom: 1px dashed black; }

/*
 * Index Page
 */
.articles {
  display: block;
  margin: 0 auto; }
  .articles .article {
    display: block;
    margin: 0; }
    .articles .article a {
      display: block; }
      .articles .article a .title, .articles .article a .date-wrapper {
        font-size: 1.7em;
        display: inline-block;
        vertical-align: top;
        height: 100%; }
      .articles .article a .title {
        width: 85%;
        margin: 0 0 0.75em; }
      .articles .article a .date-wrapper {
        width: 15%;
        text-align: right; }
      .articles .article a .date {
        font-size: 0.58824em; }
      .articles .article a {
        color: #222222; }
      .articles .article a:visited {
        color: #777777; }
      .articles .article a:hover, .articles .article a:active {
        color: #ff4466; }
        .articles .article a:hover .title, .articles .article a:active .title {
          text-decoration: underline; }
        .articles .article a:hover .date, .articles .article a:active .date {
          text-decoration: none; }

/*
 * Next-post, previous-post links
 */
.navigation .next-post, .navigation .prev-post {
  width: 50%; }
  .navigation .next-post a, .navigation .prev-post a {
    display: block; }
.navigation .next-post {
  text-align: right;
  float: right; }
.navigation .prev-post {
  float: left; }

/*
 * Social Buttons on the About page
 */
.social-buttons {
  margin: 0 auto;
  text-align: center; }
  .social-buttons .social-button {
    text-align: center;
    font-family: "entypo_socialregular";
    font-size: 120px;
    margin: 0 5px;
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    cursor: pointer;
    text-decoration: none; }
    .social-buttons .social-button:nth-child(1) {
      color: #00bbf2; }
      .social-buttons .social-button:nth-child(1):hover {
        color: #006c8c; }
    .social-buttons .social-button:nth-child(2) {
      color: #333333; }
      .social-buttons .social-button:nth-child(2):hover {
        color: black; }
    .social-buttons .social-button:nth-child(3) {
      color: #dc4a36; }
      .social-buttons .social-button:nth-child(3):hover {
        color: #92281a; }

/*
 * Space between different parts of the page
 */
header {
  margin-top: 40px; }

.dmitry {
  margin: 0 auto 0.25em; }

.border {
  margin-top: 40px; }

section {
  margin-top: 40px; }

.article-title {
  margin: 0 auto 20px; }

.article-date {
  margin-bottom: 40px; }

.article-body {
  margin-bottom: 40px; }

.navigation {
  margin-bottom: 40px; }

footer {
  margin: 120px auto 40px; }

/*
 * Import everything else
 */
@media (max-width: 910.55556px) {
  body {
    font-size: 14px; }

  ul li {
    list-style-position: inside; }

  .articles .article:first-child a {
    border-top: none; }
  .articles .article a {
    padding: 10px 0;
    border-top: 1px solid #bbbbbb; }
    .articles .article a .title, .articles .article a .date-wrapper {
      line-height: 1;
      width: 100%; }
    .articles .article a .title {
      font-size: 1.35em;
      word-spacing: default;
      margin: 0; }
    .articles .article a .date-wrapper {
      text-align: left; }

  img {
    float: none !important;
    margin: 0 auto 20px !important; }

  blockquote p {
    margin-left: 0;
    padding-left: 8%; }

  header {
    margin-top: 20px; }

  .border {
    margin-top: 20px; }

  section {
    margin-top: 20px; }

  .article-title {
    margin: 0 auto 20px; }

  .article-date {
    margin-bottom: 20px; }

  .article-body {
    margin-bottom: 20px; }

  .navigation {
    margin-bottom: 20px; }

  footer {
    margin: 20px auto; } }
.highlight .c {
  color: #999988;
  font-style: italic; }

/* Comment */
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2; }

/* Error */
.highlight .k {
  font-weight: bold; }

/* Keyword */
.highlight .o {
  font-weight: bold; }

/* Operator */
.highlight .cm {
  color: #999988;
  font-style: italic; }

/* Comment.Multiline */
.highlight .cp {
  color: #999999;
  font-weight: bold; }

/* Comment.Preproc */
.highlight .c1 {
  color: #999988;
  font-style: italic; }

/* Comment.Single */
.highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic; }

/* Comment.Special */
.highlight .gd {
  color: #000000;
  background-color: #ffdddd; }

/* Generic.Deleted */
.highlight .gd .x {
  color: #000000;
  background-color: #ffaaaa; }

/* Generic.Deleted.Specific */
.highlight .ge {
  font-style: italic; }

/* Generic.Emph */
.highlight .gr {
  color: #aa0000; }

/* Generic.Error */
.highlight .gh {
  color: #999999; }

/* Generic.Heading */
.highlight .gi {
  color: #000000;
  background-color: #ddffdd; }

/* Generic.Inserted */
.highlight .gi .x {
  color: #000000;
  background-color: #aaffaa; }

/* Generic.Inserted.Specific */
.highlight .go {
  color: #888888; }

/* Generic.Output */
.highlight .gp {
  color: #555555; }

/* Generic.Prompt */
.highlight .gs {
  font-weight: bold; }

/* Generic.Strong */
.highlight .gu {
  color: #aaaaaa; }

/* Generic.Subheading */
.highlight .gt {
  color: #aa0000; }

/* Generic.Traceback */
.highlight .kc {
  font-weight: bold; }

/* Keyword.Constant */
.highlight .kd {
  font-weight: bold; }

/* Keyword.Declaration */
.highlight .kp {
  font-weight: bold; }

/* Keyword.Pseudo */
.highlight .kr {
  font-weight: bold; }

/* Keyword.Reserved */
.highlight .kt {
  color: #445588;
  font-weight: bold; }

/* Keyword.Type */
.highlight .m {
  color: #009999; }

/* Literal.Number */
.highlight .s {
  color: #dd1144; }

/* Literal.String */
.highlight .na {
  color: teal; }

/* Name.Attribute */
.highlight .nb {
  color: #0086b3; }

/* Name.Builtin */
.highlight .nc {
  color: #445588;
  font-weight: bold; }

/* Name.Class */
.highlight .no {
  color: teal; }

/* Name.Constant */
.highlight .ni {
  color: purple; }

/* Name.Entity */
.highlight .ne {
  color: #990000;
  font-weight: bold; }

/* Name.Exception */
.highlight .nf {
  color: #990000;
  font-weight: bold; }

/* Name.Function */
.highlight .nn {
  color: #555555; }

/* Name.Namespace */
.highlight .nt {
  color: navy; }

/* Name.Tag */
.highlight .nv {
  color: teal; }

/* Name.Variable */
.highlight .ow {
  font-weight: bold; }

/* Operator.Word */
.highlight .w {
  color: #bbbbbb; }

/* Text.Whitespace */
.highlight .mf {
  color: #009999; }

/* Literal.Number.Float */
.highlight .mh {
  color: #009999; }

/* Literal.Number.Hex */
.highlight .mi {
  color: #009999; }

/* Literal.Number.Integer */
.highlight .mo {
  color: #009999; }

/* Literal.Number.Oct */
.highlight .sb {
  color: #dd1144; }

/* Literal.String.Backtick */
.highlight .sc {
  color: #dd1144; }

/* Literal.String.Char */
.highlight .sd {
  color: #dd1144; }

/* Literal.String.Doc */
.highlight .s2 {
  color: #dd1144; }

/* Literal.String.Double */
.highlight .se {
  color: #dd1144; }

/* Literal.String.Escape */
.highlight .sh {
  color: #dd1144; }

/* Literal.String.Heredoc */
.highlight .si {
  color: #dd1144; }

/* Literal.String.Interpol */
.highlight .sx {
  color: #dd1144; }

/* Literal.String.Other */
.highlight .sr {
  color: #009926; }

/* Literal.String.Regex */
.highlight .s1 {
  color: #dd1144; }

/* Literal.String.Single */
.highlight .ss {
  color: #990073; }

/* Literal.String.Symbol */
.highlight .bp {
  color: #999999; }

/* Name.Builtin.Pseudo */
.highlight .vc {
  color: teal; }

/* Name.Variable.Class */
.highlight .vg {
  color: teal; }

/* Name.Variable.Global */
.highlight .vi {
  color: teal; }

/* Name.Variable.Instance */
.highlight .il {
  color: #009999; }

/* Literal.Number.Integer.Long */
.img-wrapper {
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
  position: relative; }

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: #111111;
  background: rgba(0, 0, 0, 0.75);
  background: -webkit-radial-gradient(50% 50%, circle cover, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.75) 100%);
  background: -moz-radial-gradient(50% 50%, circle cover, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.75) 100%);
  background: -ms-radial-gradient(50% 50%, circle cover, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.75) 100%);
  background: -o-radial-gradient(50% 50%, circle cover, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.75) 100%);
  display: none;
  opacity: 0;
  -moz-transition: opacity 0.25s ease-out;
  -webkit-transition: opacity 0.25s ease-out;
  -o-transition: opacity 0.25s ease-out;
  transition: opacity 0.25s ease-out; }
  .modal-background.fade-in {
    opacity: 1; }

.modal-containter {
  position: fixed;
  z-index: 101;
  top: 50%;
  left: 50%;
  background: white;
  padding: 0px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.75);
  margin: 0 auto;
  display: none;
  transition: opacity 0.25s ease-out, transform 0.25s ease-out;
  -o-transition: opacity 0.25s ease-out, -o-transform 0.25s ease-out;
  -moz-transition: opacity 0.25s ease-out, -moz-transform 0.25s ease-out;
  -webkit-transition: opacity 0.25s ease-out, -webkit-transform 0.25s ease-out;
  opacity: 0;
  transform: scale(0.5, 0.5);
  -o-transform: scale(0.5, 0.5);
  -moz-transform: scale(0.5, 0.5);
  -webkit-transform: scale(0.5, 0.5); }
  .modal-containter.fade-in {
    opacity: 1;
    transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -webkit-transform: scale(1, 1); }
  .modal-containter .modal-close-btn {
    position: absolute;
    top: -40px;
    right: 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: right;
    color: white;
    cursor: pointer;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 26px;
    opacity: 0.6; }
    .modal-containter .modal-close-btn:hover {
      opacity: 1; }
    .modal-containter .modal-close-btn:before {
      content: "×"; }
  .modal-containter .modal-content img {
    width: 100%;
    height: 100%; }
