<!DOCTYPE html>
<html dir='ltr' lang='en-US'>
<head>
  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  <meta name='apple-mobile-web-app-capable' content='yes' />

  <title>{% if page.title %}{{ page.title }} — {% endif %}Dmitry Filimonov</title>
  <meta name='author' content='Dmitry Filimonov' />
  <meta name='description' content='The Blog of Dmitry Filimonov' />

  <link href='/assets/favicon.png' rel='icon' type='image/png'>
  <link href='/assets/apple-touch-icon-precomposed.png' rel='apple-touch-icon-precomposed'>
  <link href='/assets/apple-touch-icon-72x72-precomposed.png' rel='apple-touch-icon-precomposed' sizes='72x72'>
  <link href='/assets/apple-touch-icon-114x114-precomposed.png' rel='apple-touch-icon-precomposed' sizes='114x114'>
  <link href='/assets/apple-touch-icon-144x144-precomposed.png' rel='apple-touch-icon-precomposed' sizes='144x144'>

  <link rel='alternate' type='application/atom+xml' href='/atom.xml' title='Atom feed'>

  <link rel='stylesheet' href='/assets/main.css'>

  <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/zepto/1.0/zepto.min.js'></script>
  <script type='text/javascript'>try{Typekit.load();}catch(e){}</script>
  <script src='/assets/main.js' type='text/javascript'></script>

</head>

<body>

  {% unless true %}
    page.no_header
    <header class="container">
      <h2 class="dmitry"><a href="/">Dmitry Filimonov</a></h2>
      <p class="gray-color">I like creating stuff for the Web. Read <a href="/about">more about me</a> and check out <a href="/projects">my projects</a>.</p>
      <hr class='border'></hr>
    </header>
  {% endunless %}

  <section class="container {{ page.section_class }} ">
    {{ content }}
  </section>


  {% unless page.no_footer %}
    <footer class="container">
      <p class="copyright gray-color align-center">Copyright © 2012&thinsp;–&thinsp;2017 <a class="gray-color" href="/">Dmitry Filimonov</a></p>
    </footer>
  {% endunless %}


  <div class='modal-background'></div>
  <div class='modal-containter'>
    <div class='modal-close-btn'></div>
    <div class='modal-content'></div>
  </div>

  <script>
    // GA
    if(document.location.host != "localhost:4000"){
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-21003876-6']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    }
  </script>

  {% unless page.no_home_btn %}
    <a href='/' class="home"></a>
  {% endunless %}
</body>

</html>
