---
layout: default
section_class: no-max-width
---
<article>
<div class="white">
  <h1 class="article-title">{{ page.title }}</h1>
  <p class="article-date gray-color">Posted on {{ page.date | date: "%B %d, %Y" }}</p>
</div>
  <div class="article-body">
    {{ content }}
  </div>
</article>
<section class="navigation gray-color">
  <div class="prev-post ">
    {% if page.previous %}
      <a rel="prev" class="text-overflow-ellipsis" href="{{ page.previous.url }}">← {{ page.previous.title }}</a>
    {% else %}
      This is the oldest post
    {% endif %}
  </div>
  <div class="next-post ">
    {% if page.next %}
      <a rel="next" class="text-overflow-ellipsis" href="{{ page.next.url }}">{{ page.next.title }} →</a>
    {% else %}
      This is the latest post
    {% endif %}
  </div>
  <div class="clear-fix"></div>
</section>
