---
layout: default
---
<article>
<h1 class="article-title">{{ page.title }}</h1>
<div class="article-date gray-color">Posted on {{ page.date | date: "%B %d, %Y" }} 
  {% if 1 == 2 %}
    in
    {% for tag in page.tags %}
      <a href="/tags/{{tag}}">#{{tag}}</a>{% unless forloop.last %}, {% endunless %}
    {% endfor %}
  {% endif %}
</div>
<div class="article-body markdown-body">
  {{ content }}
</div>
</article>
<div class="navigation gray-color">
  <div class="prev-post ">
    {% if page.previous %}
      <a rel="prev" class="text-overflow-ellipsis" href="{{ page.previous.url }}">← {{ page.previous.title }}</a>
    {% else %}
      This is the oldest post
    {% endif %}
  </div>
  <div class="next-post ">
    {% if page.next %}
      <a rel="next" class="text-overflow-ellipsis" href="{{ page.next.url }}">{{ page.next.title }} →</a>
    {% else %}
      This is the latest post
    {% endif %}
  </div>
  <div class="clear-fix"></div>
</div>
