<div id='social'>
  <div class='social-button'>
    <a class='twitter-share-button' data-via='thunder_app' href='https://twitter.com/share'>Tweet</a>
  </div>
  <div class='social-button'>
    <div class='fb-like' data-layout='button_count' data-send='false' data-show-faces='false' data-width='450'></div>
  </div><div class='social-button'>
    <div class='g-plusone' data-size='medium'></div>
  </div>
</div>
<script>
  // Twitter
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
  // Google +1      
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
  // Facebook
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=181294131994575";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>